*{
    scroll-behavior: smooth;
    margin: 0; padding: 0;
    box-sizing: border-box;
}

a:hover{
    text-decoration: none;
}
header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background:linear-gradient(rgba(70, 66, 66, 0.356),rgba(128,128,128,0.210)) , url('bg3.jpg');
}
.j{
    padding-top: 200px;
}
.am{
    color: red;
    font-weight: bold;
}
.foo{
    background-color: lightgreen;
    width: 100%;
}
.ca {
    width: 100%;
}
.ce{
    height: 45vh;
    background:linear-gradient(rgba(0, 0, 0, 0.514),rgba(87, 85, 85, 0.308)), url('CEbg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.cour{
    height: 45vh;
    background:linear-gradient(rgba(0, 0, 0, 0.329),rgba(87, 85, 85, 0.308)), url('cour.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.eboo{
    height: 45vh;
    background:linear-gradient(rgba(0, 0, 0, 0.616),rgba(87, 85, 85, 0.308)), url('eb.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 180px;
}
.search_input ,.form_i{
    background-color: rgb(213, 221, 230) !important;
}
.t1{
    height: 50px;
    width: 50px;
}
.car:hover{
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(236, 136, 136);
   
}


@media screen and (max-width:782px){
    .j h1{
        font-size: 2.2rem;
    }
}
